<div class="event">
	<div class="date">
		<div class="day">{{eventData.date.day}}</div>
		<div class="date-format">{{eventData.date.dateFormat}}</div>
		<div class="time">{{eventData.date.time}}</div>
	</div>
	<img class="img" ng-src="{{eventData.imgSrc}}"/>
	<div class="title">
		<a ng-href="#/category/{{eventData.id}}"><div class="event-name">{{eventData.title.eventName}}</div></a>
		<div class="place">{{eventData.title.place}}</div>
		<div class="city-state">{{eventData.title.cityState}}</div>
	</div>
	<div class="blurb clearfix">{{eventData.blurb}}</div>
</div>